h1 {
  text-align: center;
  font-family: 'Sedgwick Ave Display';
  font-size: 300%;
}
p {
  text-align: center;
  font-size:40px;
}
#resources-navbar {
  text-align: left;
  font-size: 30px;
}

#fiction{
  width: 400px;
  float: left;
}

#nonfiction {
  float: left;
}
